* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
@media (max-width: 650px) {
  html {
    font-size: 10px;
  }
}
a {
  color: #ffff;
}
/* NAVIGATION */
li {
  list-style: none;
}
nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #be3144;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
}
nav > ul {
  display: flex;
  margin-right: 1rem;
}
@media (max-width: 650px) {
  nav > ul {
    display: flex;
    justify-content: center;
  }
}
nav a {
  display: block;
  font-size: 1.5rem;
  padding: 1.5rem;
  color: #fff;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li > a:hover {
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%) ;
  color: white;
}
/*WELCOME SECTION*/
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
}
#welcome-section  h1 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  font-family: "roboto condensed", sans-serif;
}
#welcome-section  p {
  color: #be3144;
  text-align: center;
  font-size: 2rem;
  font-family: "Edu AU VIC WA NT Pre", cursive;
}
/* PROJECTS SECTION */
#projects {
  background-color: #cacaca;
  padding: 5rem 2rem;
}
.projects-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
#projects  h2 {
  color: black;
  text-align: center;
  font-size: 2.2rem;
  max-width: 500px;
  margin: 0 auto 50px auto;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  font-family: "Roboto Condensed";
}
img {
  width: 400px;
  height: 350px;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 650px) {
  img {
    width: 200px;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.project-a {
  text-decoration: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.project-text {
  text-align: center;
  background-color: #be3144;
  margin-top: 0;
  padding: 15px;
}
/* CONTACT */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
  color: #ffffff;
}
#contact  a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
  
}
#contact h2 {
  font-size: 3rem;
  font-family: "Roboto Condensed";
}
#contact p {
  text-align: center;
  margin-bottom: 50px;
}
i {
  font-size: 2.2rem;
}
#contact a:hover {
  color:#be3144;
}
@media (max-width: 650px) {
  .icon-link {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
